<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.networkrequestreport">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.network_detail.NetworkDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Android2022.NoActionBar">
        </activity>

    </application>

</manifest>